/*** Area Utente ***/
div#area_utente {
	background-color: #bebbb9;
}

/*** Area contenuti **/
div#area_contenuti {
	background-color: #ffffff !important;
}

/*** Titolo Pagina ***/
div#titolo_pagina {
	background-color: #d4d2d1;
}

/*** Tabber ***/
ul.tabber {
	background-color: #ffffff;
	background: url(../images/tagli_html/sfondo_tabber_bianco.gif) repeat-x;
}
ul.tabber li.tab {
	background: url(../images/tagli_html/sfondo_tab_bianco.gif) repeat-x;
}
ul.tabber li.tab#active {
	background: url(../images/tagli_html/pixel_bianco.gif) repeat;
}

/*** Tabella ***/
table {
	background-color: #ffffff;
}
th {
	background-color: #d4d2d1;
}
div.toolbar_tabella {
	background-color: #ffffff;
}

/*** Ricerca ***/
div#ricerca {
	background-color: #e2e0dd;
}

/*** Accoglienza ***/
div#accoglienza {
	background-color: #ffffff;
}
div#accoglienza div#area_contenuti div#cards_accoglienza div#box_sx {
	background-color: #e2e0dd;
}
div#accoglienza div#area_contenuti div#cards_accoglienza div#box_dx {
	background-color: #d2d4d1;
}
div#accoglienza div#area_login {
	background-color: #bebbb9;
}
