/* 
    Document   : style_asan_contenuto
    Created on : 26-feb-2016, 15.25.41
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

.left_label{

    float: left;
    width: 15%;
    padding-right: 10px;
}
