    <div data-ng-controller="ModalController">
       
                <div class="modal-header">
                <h3>I'm a modal!</h3>
                </div>
                <div class="modal-body">
                Lorem ipsum
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" data-ng-click="ok()">OK</button>
                <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
                </div>
            

            <button class="btn" data-ng-click="open()">Open me!</button>
           
        </div>